/*********** General Styles ***********/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a.flex {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

header a.flex img {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav.flex {
    display: flex;
    justify-content: space-around;
    background-color: #FFD700; 
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #4CAF50; 
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/** Home styling **/
h2 , section p{
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.daily-spending, .spending-input {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px 30px 35px 20px;
    width: 25%;
    box-shadow: 0 2px 4px black;
}

.daily-spending h3, .spending-input h3 {
    margin-top: 0;
    color: #4CAF50; 
}

label {
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/** Transactions styling **/

.income {
    color: green;
    font-weight: bold;
}

.expense {
    color: red;
    font-style: italic;
}